@{
    ViewData["Title"] = "Cliente";
}
@model List<SistemaVenda.Models.ClienteViewModel>;

<h2>Clientes</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr style="background-color:#f6f6f6;">
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Celular</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="Editar(@item.Codigo)" style="cursor:pointer;">
                <td>@item.Codigo</td>
                <td>@item.Nome</td>
                <td class="cpf">@item.CNPJ_CPF</td>
                <td>@item.Email</td>
                <td>@item.Celular</td>
            </tr>
        }
    </tbody>
</table>
<br />
<button type="button" class="btn btn-lg btn-primary" onclick="Cadastrar()">Cadastrar Cliente</button>

<script>
    // Aplica a máscara em todos os CPFs
    $('.cpf').each(function () {
        var cpf = $(this).text();
        if (cpf.length === 11) {
            // Aplica a máscara manualmente no texto do CPF
            $(this).text(cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4"));
        }
    });
    function Editar(Codigo) {
        window.location = window.origin + "\\Cliente\\Cadastro\\" + Codigo;
    }

    function Cadastrar() {
        window.location = window.origin + "\\Cliente\\Cadastro";
    }
</script>